<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/plugin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/plugin/layui/css/admin.css}" media="all">

    <script th:src="@{/plugin/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/plugin/jquery/jquery-1.9.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugin/jquery/jquery.blockUI.js}" type="text/javascript"></script>
    <script th:src="@{/plugin/base/base.tools.js}" type="text/javascript"></script>
    <script th:src="@{/plugin/cookie/jquery.cookie.js}" type="text/javascript"></script>
    <script th:src="@{/plugin/json/json2.js}" type="text/javascript"></script>

    <script th:src="@{/back/home/home.js}" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script th:src="@{/plugin/ie/html5.min.js}"></script>
    <script th:src="@{/plugin/ie/respond.min.js}"></script>
    <![endif]-->
    <style>

    </style>
</head>
<body class="layui-layout-body" layadmin-themealias="default">
<!--加载整个base.html-->
<div th:replace="/common/base/base"></div>
<div th:replace="/common/base/checkLogin"></div>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

            <li class="layui-nav-item" lay-unselect="">
                <a href="javascript:;">123</a>
                <dl class="layui-nav-child">
                    <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                    <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                    <hr>
                    <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect="">
                <a href="javascript:;" layadmin-event="more">退出</a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-side-menu">
        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
            lay-filter="layadmin-system-side-menu">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>主页</cite>
                    <span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd data-name="console" class="layui-this">
                        <a menuId="1"  menuName="控制台" menuHref="route/index">控制台</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-component"></i>
                    <cite>店铺</cite>
                    <span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd data-name="console" class="layui-this">
                        <a menuId="2"  menuName="店铺管理" menuHref="route/index">店铺管理</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
            <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                <li class="layui-nav-item" lay-unselect="">
                    <a href="javascript:;"></a>
                    <dl class="layui-nav-child layui-anim-fadein">
                        <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                        <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                        <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-tab" lay-unauto="" lay-allowclose="true" lay-filter="layadmin-layout-tabs">
            <ul class="layui-tab-title" id="LAY_app_tabsheader">
                <li lay-id="home/console.html" lay-attr="home/console.html" class=""><i
                        class="layui-icon layui-icon-home"></i><i class="layui-icon layui-unselect layui-tab-close"></i>
                </li>
            </ul>
        </div>
    </div>

    <!-- 主体内容 -->
    <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
            <iframe th:src="@{/route/test}" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
    </div>


</div>
</body>
</html>