
<!--轮播图-->
<div th:fragment="carousel" class="layui-carousel" id="carousel"  style="margin-top: 65px">
    <div carousel-item="">
        <div  class="divMain"><img   th:src="@{/images/carousel/index/1.jpg}"></div>
        <div  class="divMain"><img   th:src="@{/images/carousel/index/2.jpg}"></div>
        <div  class="divMain"><img   th:src="@{/images/carousel/index/3.jpg}"></div>
        <div  class="divMain"><img   th:src="@{/images/carousel/index/4.jpg}"></div>
        <div  class="divMain"><img   th:src="@{/images/carousel/index/5.jpg}"></div>
        <div  class="divMain"><img   th:src="@{/images/carousel/index/6.jpg}"></div>

    </div>
</div>

