<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinan.userService.sys.mapper.SysRoleMapper" >
	<resultMap id="BaseResultMap" type="com.xinan.userService.sys.entity.SysRoleEntity" >
		<result column="TOTAL" property="total"  />
		<result column="ROWNO" property="rowno"  />
		<result column="ID" property="id" jdbcType="NUMERIC" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="STATE" property="state" jdbcType="NUMERIC" />
		<result column="PID" property="pid" jdbcType="NUMERIC" />
		<result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
		<result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
		<result column="APPID" property="appid" jdbcType="NUMERIC" />
		<result column="pidAgain" property="pidAgain" jdbcType="NUMERIC" />
	</resultMap>
	<!--角色表通用查询条件 -->
	<sql id="SYS_ROLE_WHERE">
		<where>
			<if test="id != null and id != ''">
				AND T.ID = #{id}
			</if>
			<if test="id_LIKE != null and id_LIKE != ''">
				AND T.ID LIKE concat(concat('%',#{id_LIKE}),'%')
			</if>
			<if test="id_LLIKE != null and id_LLIKE != ''">
				AND T.ID LIKE concat('%',#{id_LLIKE})
			</if>
			<if test="id_RLIKE != null and id_RLIKE != ''">
				AND T.ID LIKE concat(#{id_RLIKE},'%')
			</if>

			<if test="name != null and name != ''">
				AND T.NAME = #{name}
			</if>
			<if test="name_LIKE != null and name_LIKE != ''">
				AND T.NAME LIKE concat(concat('%',#{name_LIKE}),'%')
			</if>
			<if test="name_LLIKE != null and name_LLIKE != ''">
				AND T.NAME LIKE concat('%',#{name_LLIKE})
			</if>
			<if test="name_RLIKE != null and name_RLIKE != ''">
				AND T.NAME LIKE concat(#{name_RLIKE},'%')
			</if>

			<if test="state != null and state != ''">
				AND T.STATE = #{state}
			</if>
			<if test="state_LIKE != null and state_LIKE != ''">
				AND T.STATE LIKE concat(concat('%',#{state_LIKE}),'%')
			</if>
			<if test="state_LLIKE != null and state_LLIKE != ''">
				AND T.STATE LIKE concat('%',#{state_LLIKE})
			</if>
			<if test="state_RLIKE != null and state_RLIKE != ''">
				AND T.STATE LIKE concat(#{state_RLIKE},'%')
			</if>

			<if test="pid != null and pid != ''">
				AND T.PID = #{pid}
			</if>
			<if test="pid_LIKE != null and pid_LIKE != ''">
				AND T.PID LIKE concat(concat('%',#{pid_LIKE}),'%')
			</if>
			<if test="pid_LLIKE != null and pid_LLIKE != ''">
				AND T.PID LIKE concat('%',#{pid_LLIKE})
			</if>
			<if test="pid_RLIKE != null and pid_RLIKE != ''">
				AND T.PID LIKE concat(#{pid_RLIKE},'%')
			</if>

			<if test="createDate != null and createDate != ''">
				AND T.CREATE_DATE = STR_TO_DATE(#{createDate,'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="createDate_MIN != null and createDate_MIN != ''">
				AND T.CREATE_DATE &gt;= STR_TO_DATE(#{createDate_MIN},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="createDate_MAX != null and createDate_MAX != ''">
				AND T.CREATE_DATE &lt;= STR_TO_DATE(#{createDate_MAX},'%Y-%m-%d %H:%i:%s')
			</if>

			<if test="updateDate != null and updateDate != ''">
				AND T.UPDATE_DATE = STR_TO_DATE(#{updateDate,'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="updateDate_MIN != null and updateDate_MIN != ''">
				AND T.UPDATE_DATE &gt;= STR_TO_DATE(#{updateDate_MIN},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="updateDate_MAX != null and updateDate_MAX != ''">
				AND T.UPDATE_DATE &lt;= STR_TO_DATE(#{updateDate_MAX},'%Y-%m-%d %H:%i:%s')
			</if>

			<if test="appid != null and appid != ''">
				AND T.APPID = #{appid}
			</if>
			<if test="appid_LIKE != null and appid_LIKE != ''">
				AND T.APPID LIKE concat(concat('%',#{appid_LIKE}),'%')
			</if>
			<if test="appid_LLIKE != null and appid_LLIKE != ''">
				AND T.APPID LIKE concat('%',#{appid_LLIKE})
			</if>
			<if test="appid_RLIKE != null and appid_RLIKE != ''">
				AND T.APPID LIKE concat(#{appid_RLIKE},'%')
			</if>

		</where>
	</sql>
	<!-- 角色表通用查询 -->
    <select id="selectSysRole" parameterType="com.xinan.userService.sys.entity.SysRoleEntity" resultMap="BaseResultMap" >
		<bind name="startNumber" value="(curPage-1)*pageSize"></bind>
		SELECT (@rowNum:=@rowNum+1) AS ROWNO,
		(SELECT COUNT(1) FROM SYS_ROLE T <include refid="SYS_ROLE_WHERE"/>) AS TOTAL,
		E.* FROM (
		SELECT T.ID,T.NAME,T.STATE,T.PID,
			DATE_FORMAT(T.CREATE_DATE,'%Y-%m-%d %H:%i:%s') CREATE_DATE,
			
			DATE_FORMAT(T.UPDATE_DATE,'%Y-%m-%d %H:%i:%s') UPDATE_DATE,T.APPID
		,t.pid as pidAgain
		FROM SYS_ROLE T
		<include refid="SYS_ROLE_WHERE"/>
		<if test="sortName != null and sortName != ''">
			ORDER BY  ${sortName}
 				${sortOrder}
 		</if>
			limit ${startNumber},${pageSize}
		)E,SYS_ROLE T
		<if test="pageSize != null and pageSize != ''">
			,(SELECT(@rowNum :=${startNumber}))TEM_TB
		</if>
		WHERE E.ID=T.ID

    </select>

    <!-- 角色表通用查询个数 -->
    <select id="selectSysRoleCount" parameterType="com.xinan.userService.sys.entity.SysRoleEntity" resultType="java.lang.Integer" >
     	 SELECT COUNT(1) FROM SYS_ROLE T <include refid="SYS_ROLE_WHERE"/>
    </select>

    <!-- 角色表保存 -->
    <insert id="insertSysRole"  useGeneratedKeys="true" keyProperty="id"   parameterType="com.xinan.userService.sys.entity.SysRoleEntity" >
    	insert into SYS_ROLE
    	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null and id != ''">
				  ID ,
			</if>
			<if test="name != null and name != ''">
				  NAME ,
			</if>
			<if test="state != null and state != ''">
				  STATE ,
			</if>
			<if test="pid != null and pid != ''">
				  PID ,
			</if>

				  CREATE_DATE ,

			<if test="appid != null and appid != ''">
				  APPID ,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null and id != ''">
				 #{id},
			</if>
			<if test="name != null and name != ''">
				 #{name},
			</if>
			<if test="state != null and state != ''">
				 #{state},
			</if>
			<if test="pid != null and pid != ''">
				 #{pid},
			</if>
				SYSDATE(),

			<if test="appid != null and appid != ''">
				 #{appid},
			</if>
		</trim>
    </insert>

    <!-- 角色表修改-->
    <update id="updateSysRole" parameterType="com.xinan.userService.sys.entity.SysRoleEntity" >
    	update   SYS_ROLE T
		<trim suffixOverrides="," >
				SET UPDATE_DATE=SYSDATE(),
			<if test="name_NEW != null and name_NEW != ''">
				  NAME=  #{name_NEW},
			</if>
			<if test="state_NEW != null and state_NEW != ''">
				  STATE=  #{state_NEW},
			</if>
			<if test="pid_NEW != null and pid_NEW != ''">
				  PID=  #{pid_NEW},
			</if>
		</trim>
		<include refid="SYS_ROLE_WHERE"/>
    </update>

    <!-- 角色表删除-->
    <delete id="deleteSysRole" parameterType="com.xinan.userService.sys.entity.SysRoleEntity" >
    	delete  T  from SYS_ROLE  T  <include refid="SYS_ROLE_WHERE"/>
    </delete>
	<!--根据用户id查询角色-->
	<select id="getUserRole" parameterType="com.xinan.userService.sys.entity.SysUserEntity" resultMap="BaseResultMap">
		 select T.ID,T.NAME,T.STATE,T.PID,t.pid as pidAgain,
			T.APPID
			from sys_role T where T.id in (
		  select roleid from sys_user_role b where b.userid=#{id}
		 )
	</select>

	<!--根据用户id查询角色 设置用户角色用-->
	<select id="getUserRoleOther" parameterType="com.xinan.userService.sys.entity.SysUserEntity" resultMap="BaseResultMap">
		 select tmp.ID,tmp.NAME,tmp.PID,tmp.pid as pidAgain,tmp.APPID,(case when role_count>0 then 1 else 0 end ) as checked from (
			 select T.ID,T.NAME,T.PID,T.APPID,(select count(1) from sys_user_role c where c.roleid=T.id and c.userid=#{useridOther})  as role_count
				from sys_role T where T.id in (
			  select roleid from sys_user_role b where b.userid=#{id} and T.state=1
			 )
		 ) tmp
	</select>

</mapper>