<script th:inline="javascript">
    var context = [[@{/}]];
    var baseWebPath = "/chuxi/";
    //退出
    function logout() {
        if(baseTools.isBlank($.cookie("CUR_USER"))){
            baseTools.gotoLogin();
        }

        baseTools.xhrAjax({
            url: context + "sys/logout",
            contentType: "application/json",
            params: JSON.stringify({userid:user.id}),
            callback: [function (jsonObj, xhrArgs) {
                switch (parseInt(jsonObj.code)) {
                    case 0://成功
                        layer.alert(jsonObj.data, {
                            icon: 1,
                            title: '提示'
                        });
                        break;
                    default:
                        layer.alert(jsonObj.msg, {
                            icon: 2,
                            title: '提示'
                        });
                }
            }],
            callbackError: [function (data, xhrArgs) {
                baseTools.hideMash();
            }]
        });

        $.removeCookie("CUR_USER",{path: baseWebPath});
        baseTools.gotoLogin();
    }
</script>